<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722741621094-3v4ni5qbkip266nhf18qrfr5b8edbr8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722741621094-3v4ni5qbkip266nhf18qrfr5b8edbr8e</string>
	<key>API_KEY</key>
	<string>AIzaSyD6m_K7oidzpdILxYl_tWbrL9F7aHwnmjs</string>
	<key>GCM_SENDER_ID</key>
	<string>722741621094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gingersnature.Test2</string>
	<key>PROJECT_ID</key>
	<string>bidness-cards</string>
	<key>STORAGE_BUCKET</key>
	<string>bidness-cards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722741621094:ios:2c1a6df5c56cb510b958a7</string>
</dict>
</plist>